<!-- Basic Card Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Basic Card Example</h6>
    </div>
    <div class="card-body">
        <p>We would like to express our sincere gratitude and thanks to the open source software community for their
            invaluable
            contributions to our project. Specifically, we would like to acknowledge the following technologies:</p>
        <ul>
            <li><a href="https://www.mongodb.com/">MongoDB:</a> for providing a robust and scalable NoSQL database
                solution.</li>
            <li><a href="https://getbootstrap.com/">Bootstrap:</a> for the extensive collection of UI components and
                styles that helped us build a responsive
                and visually appealing user interface.</li>
            <li><a href="https://nodejs.org/en">NodeJS:</a> for the powerful JavaScript runtime that allowed us to build
                fast and scalable server-side
                applications.</li>
            <li><a href="https://expressjs.com/">Express:</a> for the minimal and flexible web application framework
                that made building our RESTful API a
                breeze.</li>
        </ul>
        <p>Without these incredible technologies and the dedicated efforts of their developers and contributors, our
            project would not have been possible. Thank you for making your software open source and for supporting the
            developer
            community.</p>
    </div>
</div>